$lightGreen: #b9e7e7;
* {
  margin: 0%;
  box-sizing: border-box;
}

.app {
  .container {
    .link {
      text-decoration: none;
      color: inherit;
    }
    //LOGIN & REGISTER
    .auth {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: $lightGreen;
      h1 {
        font-size: 20px;
        color: teal;
        margin-bottom: 20px;
      }
      form {
        display: flex;
        flex-direction: column;
        padding: 50px;
        background-color: white;
        width: 300px;
        gap: 20px;
        input {
          padding: 10px;
          border: none;
          border-bottom: 1px solid gray;
        }
        button {
          padding: 10px;
          border: none;
          background-color: teal;
          cursor: pointer;
          color: white;
        }
        p {
          font-size: 12px;
          color: red;
          text-align: center;
        }
        span {
          display: flex;
          flex-direction: column;
          font-size: 12px;
          text-align: center;
          em {
            color: rgb(65, 104, 81);
          }
        }
      }
    }
  }
}
